.newsTextMore {
	background: #fff;
	.newsTextMoreIn {
		width: 1240px;
		margin: 0 auto;
		padding: 48px 0;
		.tabs {
			margin: 48px auto;
			text-align: center;

			span {
				display: inline-block;
				height: 32px;
				padding: 0 26px;
				margin-right: 32px;
				border-radius: 24px;
				text-align: center;
				line-height: 32px;
				background: #fff;
				border: 1px solid #cfd3e3;
				font-size: 14px;
			}

			span:hover {
				cursor: pointer;
				background: var(--website-theme-color);
				color: #fff;
			}

			.active {
				border-color: var(--website-theme-color);
				background: var(--website-theme-color);
				color: #fff;
			}
		}

		.news_content {
			width: 1240px;
			margin: 0 auto;
			.box {
				height: 48px;
				overflow: hidden;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid #e9eaf2;
				font-size: 14px;
				em {
					flex: 1;
					font-style: normal;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				span {
					width: 88px;
				}
				a {
					width: 20px;
					margin-right: -20px;
					transition: all 0.2s;
				}
			}
			.box:hover {
				background: rgba(233, 234, 242, 0.2);
				color: var(--website-theme-color);
				a {
					margin-left: 16px;
					margin-right: 0;
				}
			}
		}

		.pages {
			display: flex;
			justify-content: center;
			margin-top: 48px;
			.panda-design-pagination-active {
				background-color: var(--website-theme-color);
				border: 1px solid var(--website-theme-color);
			}
			.panda-design-pagination-item:hover {
				border: 1px solid var(--website-theme-color);
			}
		}
	}
}
