.newsMoreLeftTab {
	background: #fff;
	.newsMoreLeftTabIn {
		width: 1240px;
		margin: 0 auto;
		padding-top: 48px;
		display: flex;
		justify-content: space-between;
		.tabs {
			width: 180px;
			span {
				display: inline-block;
				width: 180px;
				height: 56px;
				padding-left: 38px;
				line-height: 56px;
				background: #f0f2f5;
				font-size: 14px;
			}

			span:hover {
				cursor: pointer;
				// background: var(--website-theme-color);
				// color: #fff;
			}

			.active {
				border-color: var(--website-theme-color);
				background: var(--website-theme-color);
				color: #fff;
			}
		}

		.news_content {
			width: 1000px;
			.box {
				height: 48px;
				overflow: hidden;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid #e9eaf2;
				background: #fff;
				font-size: 14px;
				em {
					flex: 1;
					font-style: normal;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				span {
					width: 88px;
				}
				a {
					width: 20px;
					margin-right: -20px;
					transition: all 0.2s;
				}
			}
			.box:hover {
				background: rgba(233, 234, 242, 0.2);
				color: var(--website-theme-color);
				a {
					margin-left: 16px;
					margin-right: 0;
				}
			}
		}
	}

	.pages {
		width: 1240px;
		display: flex;
		justify-content: flex-end;
		margin: 48px auto;
		padding-bottom: 48px;
		.panda-design-pagination-active {
			background-color: var(--website-theme-color);
			border: 1px solid var(--website-theme-color);
		}
		.panda-design-pagination-item:hover {
			border: 1px solid var(--website-theme-color);
		}
	}
}
