.contactus {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 506px;

	.contactus-box {
		width: 1240px;
		height: 100%;
		display: flex;

		> div:nth-child(1) {
			width: 573px;
			height: 100%;
			padding-left: 120px;

			> div:nth-child(1) {
				margin-top: 109px;
				font-size: 32px;
				line-height: 45px;
				color: #15171f;
				font-family: 'AlibabaPuHuiTi_2_85_Bold';
			}

			> div:nth-child(2) {
				width: 39px;
				height: 2px;
				background: var(--website-theme-color);
				margin: 5px 0;
			}

			> div:nth-child(3) {
				color: #9197b0;
				font-size: 14px;
				line-height: 20px;
				font-family: 'PingFangSC-Regular';
			}

			> div:nth-child(4) {
				margin-top: 38px;
			}

			> div:nth-child(4),
			> div:nth-child(5),
			> div:nth-child(6),
			> div:nth-child(7),
			> div:nth-child(8) {
				color: #15171f;
				font-size: 12px;
				line-height: 17px;
				font-family: 'AlibabaPuHuiTi_2_55_Regular';
				margin-bottom: 16px;
			}
		}

		> div:nth-child(2) {
			flex: 1;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
	.contactus-map {
		position: relative;
	}
}
