.panda-design-image {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	&[hidden] {
		display: none;
	}
	& > div,
	& > img {
		width: 100%;
		height: 100%;
	}
	& > img {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	&-will-change {
		will-change: transform;
	}
}
